@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;900&display=swap');

$pulsing: pulse 10s ease-in-out 0s infinite alternate both running;
$fast: 250ms;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

* {
  font-family: 'Source Sans 3', 'sans-serif';
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  
}

li, a{
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

#logo{
  height: auto;
  width: 50px;
  display: flex;
  margin-left: 8px;
  transition: $fast;
  filter: brightness(0) saturate(100%) invert(20%) sepia(82%) saturate(7359%) hue-rotate(359deg) brightness(64%) contrast(120%);

}

#logo:hover{
  transition: $fast;
  filter: brightness(0) saturate(100%) invert(38%) sepia(40%) saturate(6626%) hue-rotate(336deg) brightness(92%) contrast(116%);
}

#site-name{
  padding: 0 0 0 10px;
  margin: 0 0 0 11px;
  border-left: 1px solid;
  line-height: 27px;
  font-size: 18px;
  flex: 1 0 auto;
  font-weight: normal;
}

#donate{
  display: flex;
  flex-direction: row;
}

#donateButton {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  transition: $fast;
  background-color: #af161e;
  .heart-icon{
    transform: scale(1);
    transition: $fast;
  }
}

#donateButton:hover{
  transition: $fast;
  background-color: #fc2b32;
  cursor: pointer;
  .heart-icon{
    transform: scale(1.2);
    transition: $fast;
  }
}

.heart-icon {
  width: 16px; 
  margin-right: 5px; 
  filter: invert(100%); 
}


#nav-links {
  background-color: white;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

#nav-links li {
  margin-left: 15px;  
  font-weight: 900;
  font-size: 17px;
  padding-left: 9px;
  padding-right: 9px;
  color: black;
  transition: $fast;
}

#nav-links li:hover {
  color: #af161e;
  transition: $fast;
  cursor: pointer;
}

#search{
  height: auto;
  width: 24px;
  padding-left: 10px;
}

#menu{
  height: auto;
  width: 24px;
  padding: 5px;
  padding-right: 20px;
  margin: auto;
}

#search, #menu {
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}
.data{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 40px;

}
.data1 {
  border-left: 1px solid;
  line-height: 27px;
  padding-left: 1rem;
  padding-right: 2rem;
  border-color: gray;
  display: flex;
  align-items: flex-start;
  font-size: 18px; 
  font-weight: bold;
  color: rgb(45, 43, 43);
  display: flex;
  flex-direction: column;
}
.data2{
font-size: 13px;
font-weight: normal;
color: gray;
}

#news{
  font-size: 30px;
  font-weight: bold;
}
#view{
  color:rgb(169, 58, 58);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.25rem;
  margin-right: 1rem;;
}
#news-view-container{
  margin-top: 20px;
  margin-left: 39px;
  margin-right: 35px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  
#but1{
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: $fast;
  background-color: #afafc1;
  cursor: pointer;
  .heart-icon{
    transform: scale(1.2);
    transition: $fast;
   
}
}
#but2{
  color: white;
  width: 35px;
  height: 35px; 
  border-radius: 50%;
  transition: $fast;
  background-color: #afafc1;
  cursor: pointer;
  .heart-icon{
    transform: scale(1.2);
    transition: $fast;
}

}

.read {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
  margin-top: -10px;
}

.read-img {
  flex-basis: 29%; 
  margin-bottom: 0; 
  margin-right: 0.7%; 
  background-image: url(media/design-dots.svg);
}

.read-img:first-child{
  margin-left: 10px;
}

.read-img img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.letter{
  margin-left: 30px;
  font-size:27px ;
  font-weight: bold;
  line-height: 0.8cm;
}
.letter button{
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  transition: $fast;
  background-color: #af161e;  
}
.drc {
  display: flex;
  justify-content: space-around;
  margin-left: 10cm;
  margin-right: 10cm;
  border: #fc2b32;
  margin-top: 30px;
  margin-bottom: 30px;
}

.drc-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding: 0;
  justify-content: space-around;
  span{
    font-size: 15px;
    font-weight: 900;
  }
}

.drc-section img {
  width: 100%;
  max-width: 200px;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px
}
.more{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  max-width: 100%;
  margin: 20px auto; 
}

.more img {
  max-width: 100%;
  height: auto; }



#headerText{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 800px;
  color: white;
}

h1{
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 36px;
}

h2{
  font-weight: 400;
  margin-bottom: .5rem;
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 36px;
  transition: 1000ms;
}

article:hover{
  h2{
    transition: 1000ms;
    letter-spacing: .2em;
  }
}


main{
  background-color: white;
  display: block;
}

#picture1{
  overflow: hidden;
}

#picture1 img{
  width: 100%;
  max-width: 100%;
  filter: brightness(70%);
  animation: $pulsing;
}

#dots{
  display: block;
  margin-top: 2.35cm;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 79.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  background-image: url(media/design-frieze.svg);
  background-size: cover;
  z-index: 999;
}

footer{
  font-size: 10px;
  letter-spacing: .05em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px;
  border-top: 2px solid #F2F2F2;

  li{
    display: inline;
  }
}

#footerDiv{
  display: flex;
  order: 2;
}

#footerLinks li{
  padding: .5em 1em;
  color:black;
}

#footerLinks li:hover{
  color: #af161e;
  cursor: pointer;
}

#copyright{
  order: 1;
  line-height: 20px;
  padding: 1rem 2rem;
  text-align: center;
  border-right: 1px solid;
}

#socials{
  order: 3;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 24px;
  
  img{
    padding: 6px;
    width: 27px;
  }
}

#socials:hover{
  cursor: pointer;
}
