@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;900&display=swap');

$pulsing: pulse 10s ease-in-out 0s infinite alternate both running;
$fast: 250ms;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

* {
  font-family: 'Source Sans 3', 'sans-serif';
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

li, a{
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 300;
}

#logo{
  height: auto;
  width: 50px;
  display: flex;
  margin-left: 8px;
  transition: $fast;
  filter: brightness(0) saturate(100%) invert(20%) sepia(82%) saturate(7359%) hue-rotate(359deg) brightness(64%) contrast(120%);

}

#logo:hover{
  transition: $fast;
  filter: brightness(0) saturate(100%) invert(38%) sepia(40%) saturate(6626%) hue-rotate(336deg) brightness(92%) contrast(116%);
}

#site-name{
  padding: 0 0 0 10px;
  margin: 0 0 0 11px;
  border-left: 1px solid;
  line-height: 27px;
  font-size: 18px;
  flex: 1 0 auto;
  font-weight: normal;
}

#donate{
  display: flex;
  flex-direction: row;
}

#donateButton, #donateButton2 {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  transition: $fast;
  background-color: #af161e;
  .heart-icon{
    transform: scale(1);
    transition: $fast;
  }
}

#donateButton:hover, #donateButton2:hover{
  transition: $fast;
  background-color: #fc2b32;
  cursor: pointer;
  .heart-icon{
    transform: scale(1.2);
    transition: $fast;
  }
}

.heart-icon {
  width: 16px; 
  margin-right: 5px; 
  filter: invert(100%); 
}


#donateButton2{
  display: none;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

#nav-links {
  background-color: white;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

#nav-links li {
  margin-left: 15px;  
  font-weight: 900;
  font-size: 17px;
  padding-left: 9px;
  padding-right: 9px;
  color: black;
  transition: $fast;
}

#nav-links li:hover {
  color: #af161e;
  transition: $fast;
  cursor: pointer;
}

#search{
  height: auto;
  width: 24px;
  padding-left: 10px;
}

#menu{
  height: auto;
  width: 24px;
  padding: 5px;
  padding-right: 20px;
  margin: auto;
}

#search, #menu {
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.data{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 40px;
  margin-top: 20px;

}

.data1 {
  border-left: 1px solid;
  line-height: 27px;
  padding-left: 1rem;
  padding-right: 2rem;
  border-color: gray;
  display: flex;
  align-items: flex-start;
  font-size: 18px; 
  font-weight: bold;
  color: rgb(45, 43, 43);
  display: flex;
  flex-direction: column;
}

.data2{
  font-size: 13px;
  font-weight: normal;
  color: gray;
  line-height: 23px;
}

#news{
  font-size: 30px;
  font-weight: bold;
  
  span{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: .15rem;
    background: black;
  }
}

#view{
  padding-top: 10px;
  padding-left: 30px;
  color:rgb(169, 58, 58);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.25rem;
  margin-right: 1rem;
  cursor: pointer;
}


#news-view-container{
  margin-top: 30px;
  margin-left: 39px;
  margin-right: 35px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
#but1, #but2{
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #93a1ac;
  font-weight: 400;
  border: none;
  cursor: pointer;

}

.read {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
}

.read-img {
  flex-basis: 29%; 
  margin-bottom: 0;
  margin-right: 0.7%; 
  background-image: url(media/design-dots.svg);
}

.read-img:first-child{
  margin-left: 10px;
}

.read-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.letter{
  margin: 30px;
  font-size: 27px;
  font-weight: bold;
  line-height: 0.8cm;
}

.letter button{
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  background-color: #af161e;
  cursor: pointer;
}

.drc {
  display: flex;
  justify-content: space-around;
  padding: 30px 200px;
  border: #fc2b32;
  align-items: center;
}

.drc-section {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  justify-content: space-around;
  span{
    font-size: 15px;
    font-weight: 900;
  }
}

.drc-section img {
  width: 100%;
  max-width: 200px;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px
}
.more {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
  margin-top: -10px;
}

.read-more {
  flex-basis: 29%; 
  margin-bottom: 0; 
  margin-right: 0.7%; 
  background-image: url(media/design-dots.svg);
}

.read-more:first-child{
  margin-left: 10px;
}

.read-more img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.letter2{
  margin: 30px;
  font-size: 27px;
  font-weight: bold;
  line-height: 0.8cm;
}
.letter2 button{
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  background-color: #af161e;
  cursor: pointer;
}

#headerText{
  position: absolute;
  top: 336.5px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 800px;
  color: white;
}

h1{
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 36px;
}

h2{
  font-weight: 400;
  margin-bottom: .5rem;
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 36px;
  transition: 1000ms;
}

article:hover{
  h2{
    transition: 1000ms;
    letter-spacing: .2em;
  }
}


main{
  background-color: white;
  display: block;
}

#picture1{
  overflow: hidden;
}

#picture1 img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 689.6px;
  filter: brightness(70%);
  animation: $pulsing;
}

#dots{
  transform: none;
  display: block;
  margin-top: 2.35cm;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 580.5px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  background-image: url(media/design-frieze.svg);
  background-size: cover;
}

#globoContainer{
  padding: 30px 180px 30px 180px;
}

.globo-work{
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .05em;
  margin-bottom: .2rem;
}

.globo-refugee{
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.1;
  margin-bottom: .5em;
}

.globo-globe{
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1em;
}

#globoContainer{
  background-image: url(media/design-dots.svg);
}

.globo-img{

  img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 568.917px;
    object-fit: contain;
    display: flex;
    justify-content: center;

  }
  
}

.paises{
  text-align: center;
  color: #af161e;
  font-weight: 900;
  cursor: pointer;

  span{
    color: black;
    font-weight: 400;
  }
}

footer{
  margin-top: 60px;
  font-size: 10px;
  letter-spacing: .05em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px;
  //border-top: 2px solid #F2F2F2;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);

  li{
    display: inline;
  }
} 


#footerLinks{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  
  li{
    font-size: .9rem;
    padding: .5em 1em;
    color:black;
  }
}


#footerLinks li:hover{
  color: #af161e;
  cursor: pointer;
}

#copyright{
  line-height: 20px;
  padding: 1rem 2rem;
  text-align: center;
  border-right: 1px solid;
  font-size: .9rem;
}

#socials{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 24px;
  
  
  img{
    padding: 6px;
    width: 27px;
  }
}

#socials:hover{
  cursor: pointer;
}

#charlotte{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#caption{
  padding: 0 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  line-height: 32px;
  font-weight: 900;
  color: #788A97;
  max-width: 800px;
}

#bottomText{
  text-align: center;
  padding: 0 30px;
  color: #536975;
  font-size: 1.1rem;
  line-height: 25px;
  font-weight: 300;
}


#charlotte img{
  transform: scale(1.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


#aboutourwork{
  letter-spacing: .1em;
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 12px;
  text-align: center;
}

#overlay {
  display: none; //display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 500;
}

#paymentDisplay{
  max-width: 100%;
  display: none; //display: block;
  z-index: 1000;
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  //background-color: white;
}

#paymentDisplayTop{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 0px;
  color: white;
  font-weight: 400;

  button{
    cursor: pointer;
  }
}

#paymentDisplayTitle{
  font-size: 19px;
  padding: 20px;
  border-bottom: 1px solid;
  background-color: #af161e;
  color: white;
  font-weight: 400;
}

#presets{
  display: flex;
  justify-content: space-around;
  color: black;
  background-color: white;

  button{
    font-size: 20px;
    font-weight: 300;
    background-color: white;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 5px;
  }
}

.buttonSelected{
  color: red;
}

#customAmount{
  background-color: white;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  
  input{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
  }

}

#tipoDoacao{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

#particularEmpresa{
  display: none; // display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px 0px;
}

#particularEmpresaText{
  display: none; // display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: -30px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 26px;
}



#quantiaInválida, #tipoInvalido, #particularInvalido, #errorBox{
  padding-top: 20px;
  display: none;
  color: red;
  background-color: white;
  text-align: center;
}

#particularInvalido{
  padding-top: 0px;
}

#informacoes{
  display: none; // display: flex;
  background-color: white;
  justify-content: center;
  flex-direction: column;

  input, select{
    margin: 15px;
  }

  span{
    font-size: 22px;
    font-weight: 300;
    padding-left: 15px;
  }
}

#metodosInput div{
  display: flex;
  background-color: white;
  justify-content: center;
  flex-direction: column;

  input, select{
    margin: 15px;
  }
}

#morada{
  display: none; // flex
  justify-content: center;
  flex-direction: column;

  span{
    font-size: 22px;
    font-weight: 300;
    padding-left: 15px;
  }
}

#destino{

  text-align: center;
}

#metodos{
  display: none;
  background-color: white;
  text-align: center;
  padding-top: 10px;

  select{
    margin: 15px;
  }
}

#seguinte {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  padding: 11px 40px;
  transition: $fast;
  background-color: #af161e;
}

#seguinte:hover{
  transition: $fast;
  background-color: #fc2b32;
  cursor: pointer;
}

#arrow-right{
  width: 22px; 
  margin-left: 5px; 
  filter: invert(100%); 
}

#nextButton{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
}

#donationBox{
  display: none;
  background-color: white;
  text-align: center;
  color: #af161e;
  font-size: 18px;
  font-weight: 900;
  padding: 30px;
  padding-bottom: 10px;

  span{
    font-weight: 900;
  }
}

#metodoMB div, #metodoMB span{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-size: 22px;
  font-weight: 300;
}

#obrigado{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
  background-color: white;
  color:#af161e;
}

#obrigado img{
  width: 14px;
  filter: brightness(0) saturate(100%) invert(20%) sepia(82%) saturate(7359%) hue-rotate(359deg) brightness(64%) contrast(120%);

}
// @media only screen and (min-width: 400px) and (max-width: 700px) {
//   .menu {
//     position: absolute;
//     top: 50px;
//     left: 0;
//     width: 100%;
//     background-color: #fff;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//     z-index: 999;
//     display: block; 
//   }

  
//   .menu-icon {
//     display: block; 
//   }
// }
// @media only screen and (min-width: 200px) and (max-width: 399px) {
  
//   header {
//     flex-direction: column;
//     align-items: stretch;
//   }

//   #nav-links {
//     display: none;
//     flex-direction: column;
//     align-items: stretch;
//     position: absolute;
//     top: 70px;
//     left: 0;
//     background-color: white;
//     width: 200px;
//     z-index: 999;
//   }

//   #nav-links.show-menu {
//     display: flex;
//   }

//   #nav-links li {
//     margin-left: 0;
//     padding: 15px;
//     text-align: center;
//   }

//   #menu {
//     display: block;
//   }
// }

#viewAllNews{
  font-size: 1.25rem;
}

@media (max-width: 1000px){
  #globoContainer{
    padding: 30px;
  }
  #site-name{
    font-size: 15px;
  }
}

@media (max-width: 956px){
  footer{
    display: block;
  }
  #footerLinks{
    justify-content: center;
  }
  #socials{
    margin: 10px 0;
    justify-content: center;
  }
}

@media (max-width: 900px){
  #nav-links{
    display: none;
  }
  .read{
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
  }

  .read-img img {
    height: 20rem;
  
  }

  #donateButton2{
    display: flex;
    position: fixed;
    top: auto;
    bottom: 0px;
    padding: 30px;
    border-radius: 0;

  }

  footer{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 10px;
  }


  
}

@media (max-width: 800px){

  .drc {
    flex-direction: column;
    padding: 15px;
  }

  .drc-section{
    padding: 15px;
  }

  .data{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .data1{
    margin: 20px 0;
  }

  .more{
    margin: 0 20px;
    flex-direction: column;
  }
  .read-more img{
    height: 20rem;
  }
  #aboutourwork{
    margin-bottom: 10px;
  }
}

@media (min-width: 0px) and (max-width: 450px){
  #news{
    span{
      display: none;
    }
  }
  #viewAllNews{
    display: none;
  }

  #customAmount{
    padding: 30px 15px;
    input{
      font-size: 16px;
    }
    
  }

  #presets button{
    padding: 15px 30px;
  }

}
 